@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background-image: url(https://source.unsplash.com/1600x900/?lanscape);
}

.card {
	width: 100%;
	max-width: 400px;
	margin: 1rem;
	background: #000000a8;
	color: white;
	border-radius: 30px;
	padding: 2rem;
	backdrop-filter: blur(8px);
}

.search-bar {
	margin-bottom: 1.5rem;
}

.search-bar input {
	width: calc(100% - 40px);
	background: #000000b4;
	color: white;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 17px;
	border: none;
	outline: none;
}

.search-bar button {
	background: #000000a1;
	color: white;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	outline: none;
	border: none;
	cursor: pointer;
}

.description {
	text-transform: capitalize;
}

.temp-icon {
	display: flex;
	align-items: center;
	margin: 0.2rem 0rem 1.2rem 0rem;
}
